<div class="jumbotron">
  <h1 class="display-4"> <%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead">phone number:  <%= @friend.phone %></p>
  <p class="lead">email:  <%= @friend.email %></p>
  <hr class="my-4">
<br/>
<%= link_to 'Edit', edit_friend_path(@friend),
class:"btn btn-secondary" %>

<%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' },
  class:"btn btn-danger " %>

<%= link_to 'Back', friends_path,
class:"btn btn-dark" %>
</div>
